{% extends 'base.html.twig' %}

{% block body %}
	<h2>Ceci est la page d'accueil !</h2>
	<button class="btn btn-primary">Test</button>
{% endblock %}

{% block title %}Home |
	{{ parent() }}
{% endblock %}
