{% extends 'base.html.twig' %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h5 class="m-0">Afficher une sortie</h5>
        </div>
        <div class="card-body">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">Nom de la sortie : Sortie exemple</li>
                            <li class="list-group-item">Date et heure de la sortie : 01/10/2023 14:00</li>
                            <li class="list-group-item">Date limite d'inscription : 25/09/2023</li>
                            <li class="list-group-item">Nombre de places : 20</li>
                            <li class="list-group-item">Durée : 3 heures</li>
                            <li class="list-group-item">Description et infos : Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">Campus : Campus exemple</li>
                            <li class="list-group-item">Lieu : Lieu exemple</li>
                            <li class="list-group-item">Rue : Rue de l'exemple</li>
                            <li class="list-group-item">Code postal : 12345</li>
                            <li class="list-group-item">Latitude : 45.6789</li>
                            <li class="list-group-item">Longitude : -123.4567</li>
                        </ul>
                    </div>
                </div>
                <div class="mt-4">
                    <h2>Liste des participants inscrits</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Pseudo</th>
                            <th>Nom</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>User1</td>
                            <td>Nom1</td>
                        </tr>
                        <tr>
                            <td>User2</td>
                            <td>Nom2</td>
                        </tr>
                        <tr>
                            <td>User3</td>
                            <td>Nom3</td>
                        </tr>
                        <tr>
                            <td>User4</td>
                            <td>Nom4</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}Home |
    {{ parent() }}
{% endblock %}
